<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Liefertouren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  

  <body>
    <div class="content-container">
      <form id="content-form" method="POST" action="/tour">
<h1>Tourenübersicht </h1>

<label for="Tour">Tour:</label>
<input type="text" id="Tour" name="Tour" required>

<label for="xx">Frachtführer:</label>
<input type="Frachführer" id="Frachführer" name="Frachführer" required>

<br>
 <br> 

<table>
  <tr>
    <th>Apotheke</th>
    <th>Ort</th>
    <th>Ankunft</th>
    <th>BtM</th>
    <th>Beipack</th>
  </tr>
  <tr>
    <td> <textarea id="Apotheke 1" name="Apotheke 1" rows="3" cols="17">
</textarea>></td>
        <td> <textarea id="Ort 1" name="Ort 1" rows="3" cols="17">
</textarea>></td>
    <td> <input type="text" id="Ankunft 1" name="Ankunft 1" required></td>
    <td> <input type="text" id="BtM 1" name="BtM 1" required></td>
    <td> <input type="text" id="Beipack 1" name="Beipack 1" required></td>
   </tr>
   <tr>
   </tr>
</table>

 <br> 

<table>
  <tr>
    <th>Apotheke</th>
    <th>Ort</th>
    <th>Ankunft</th>
    <th>BtM</th>
    <th>Beipack</th>
  </tr>
  <tr>
        <td> <textarea id="Apotheke 2" name="Apotheke 2" rows="3" cols="17">
</textarea>></td>
        <td> <textarea id="Ort 2" name="Ort 2" rows="3" cols="17">
</textarea>></td>
    <td> <input type="text" id="Ankunft 2" name="Ankunft 2" required></td>
    <td> <input type="text" id="BtM 2" name="BtM 2" required></td>
    <td> <input type="text" id="Beipack 2" name="Beipack 2" required></td>
    <table>
          
           <br> 
          
    <th>Apotheke</th>
    <th>Ort</th>
    <th>Ankunft</th>
    <th>BtM</th>
    <th>Beipack</th>
  </tr>
  <tr>
      
        <td> <textarea id="Apotheke3" name="Apotheke3" rows="3" cols="17">
</textarea>></td>
        <td> <textarea id="Ort 3" name="Ort 3" rows="3" cols="17">
</textarea>></td>
    <td> <input type="text" id="Ankunft 3" name="Ankunft 3" required></td>
    <td> <input type="text" id="BtM 3" name="BtM 3" required></td>
    <td> <input type="text" id="Beipack 3" name="Beipack 3" required></td>
   </tr>
   <table>
                
        <input type="submit" value="QR-Code für Tour erstellen">
      </form>
    </div>
  </body>
</html>
